h1, h2, h3 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.navigation .nav-links {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
}

.navigation .nav-list .nav-item {
  position: relative;
}

.navigation .active a:after {
  border-bottom: 2px solid white;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: auto;
}

/*=== HOME ===*/

.hero-container span {
  font-size: 28px;
  letter-spacing: .4rem;
}

.hero-container h1 {
  font-size: 150px;
}

.hero-container p {
  font-size: 18px;
  line-height: 2;
}

.home-wrapper {
  background: url('/assets/home/background-home-desktop.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-container {
  padding: 400px 0;
}

.explore a {
  background: white;
  padding: 75px;
  border-radius: 100%;
  height: 275px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  font-size: 35px;
  text-transform: uppercase;
}